POSTGRES_PASSWORD=insighthub_dev
DATABASE_URL=postgresql+asyncpg://insighthub:insighthub_dev@localhost:5432/insighthub

JIRA_URL=https://yassinechidmi203.atlassian.net/jira/software/projects/IH
JIRA_USER=yassinechidmi203@gmail.com
JIRA_API_TOKEN=ATCTT3xFfGN0E9lpDZokiAlxG2zM5-IXS8NjjZFDq3Np8j9m_lRLv5sc-tA5uOwAW-vBcCga4BFqIboYKVC2i2A2BzYwcx6UDmVf2SENxQk8TyAn7NgklnPf0v-if_KqIBKE4qC78_aPajtkWaZqQIJrefKtoOoozFQYO5RlshuQkAw8IO5S9Cg=66FAC74A
JIRA_PROJECT_KEYS=IH
JIRA_MAX_RESULTS=100

# AWS Bedrock (pour les embeddings)
AWS_ACCESS_KEY_ID=your_key
AWS_SECRET_ACCESS_KEY=your_secret
AWS_REGION=us-east-1
BEDROCK_EMBEDDING_MODEL=amazon.titan-embed-text-v2:0
